.page {
  background-color: #ded5c6;
  font-family: 'Nunito', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}


.header {
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 70px;
  height: 80px;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__links {
  display: flex;
  gap: 170px;
 margin-left: 170px;
}

.greetings {
    display: flex;
    justify-content: space-around;
 
}
.greetings__about{
   display: flex;
    margin-top: 100px;
   flex-direction: column;

}

.name{
  margin:0;
  text-align: start;
  font-size: 50px;
  line-height: 45px;
  margin: 15px;
}

.last-name{
  margin: 0;
  text-align: start;
  font-size: 50px;
  line-height: 45px;
  margin: 15px;
}

.courses__link{
  text-decoration: none;
  color: black;
  border-radius: 20px;
  border: 3px solid black;
  background-color: #f5deb3;
  padding: 10px 10px 5px;
  font-size: 20px;
  height: 40px;
  text-align: center;
  transition: all .3s;
}

.courses__link:hover{
  box-shadow: 0px 4px 10px rgba( 128,128,128, 0.7);
  transform: scale(1.1);
}

.quote{
  font-size: 30px;
  line-height: 25px;
  margin: 15px;
  width:450px;
}

.courses{

  display: flex;
  gap:50px;
  flex-direction: row;
  margin: 70px 0 0 15px;
}